a {
  color: #337ab7;
  text-decoration: none;  
}

.cover-photo {
  	height: 39rem;
	background-repeat: no-repeat;
	background-position: 50% 60%;
	background-size: cover;
}

.content-row {
	margin: 2rem 0;
}

.image-link-row {
	background-color: #f7f7f7;
	padding-top: 2rem;
	padding-bottom: 1rem;
}