.image-link-image {
    display:block;
    width: 90%;
    margin: auto;
}

.image-link-title {
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}
.image-link-title > a {
    color: black;
    margin: 1rem;
    transition: color 0.3s ease-in;
}

.image-link-text {
    text-align: center;
    line-height: 135%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.image-link-text > a:hover {
    color: grey
}

