/* General */

html, body, #root {
	min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
}

h1, hero-title {
  font-family: 'Audiowide', sans-serif;
}

body {
  margin: 0;
  padding-top: 4.175rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Michroma', Helvetica, sans-serif;
}

p, li {
  font-family: 'Sansation', Helvetica, sans-serif;
}

a:hover, a:visited {
  text-decoration: none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}