@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* General */

html, body {
	height: 100%;
	overflow: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover, a:visited {
    text-decoration: none;
}

a {
  color: #337ab7;
  text-decoration: none;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

